.highlight {
    background: #343a40;;
    padding: 10px 10px;
    border-radius: 10px;
}
pre .header, pre .inheritance, pre .ruby .symbol, pre .string, pre .value, pre .xml .cdata {
    color: #1F6ED4;
}
pre .line{
  color: #fff;
}
.gutter pre{
  margin-left: 10px;
  margin-right: 20px;
}
.code pre{
}

code {
  background: #343a40;
  color: #fff;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}
