.blog-content h1{
  font-size: 3.4em;
}
.blog-content h2{
  font-size: 3em;
}
.blog-content h3{
  font-size: 2.6em;
}
.blog-content h4{
  font-size: 2.2em;
}
.blog-content h5{
  font-size: 1.8em;
}
.blog-content h6{
  font-size: 1.4em;
}
.blog-content p, ul, li{
  font-size: 1.2em;
}

.highlight pre{
  background-color: #f8f8f8;
}
.gutter td{
}
.code td{
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}
